body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.principal {
    height: 5em;
    padding: 3em;
    font-size: 1.5em;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-simple-gradient-technology-banner-background-material-backgroundsimplegeneral-backgroundtechnology-background-image_85451.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    border: solid 10px greenyellow;
}

.principal h1 h2 {
    margin: 0px;
    font-weight: 400;
}

.producto {
    width: 1100px;
    margin: 0 auto;
    border: solid 10px orange;
    justify-content: center;
}

img {
    width: 50%;
    border: solid 1px #ddd;
}

p {
    padding: 4.5em 1em;
    font-size: 1.2em;
}

.producto div {
    display: flex;
    width: 50%;
    padding: 2em;
    margin: auto;
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: rgb(0,60,138);
    text-align: center;
    font-weight: 900;
    color: white;
    border: solid 10px rgb(132, 255, 0);
}











